<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mantis="http://www.u002.com/schema/mantis"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.u002.com/schema/mantis
             http://www.u002.com/schema/mantis/mantis.xsd">

    <mantis:consumer id="rpcClient" url="127.0.0.1:18868"
                     interface="com.u002.mantis.client.RpcClient"
                     alias="1.0" timeout="3"/>

</beans>