<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mantis="http://www.u002.com/schema/mantis"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.u002.com/schema/mantis
           http://www.u002.com/schema/mantis/mantis.xsd">

    <bean id="helloService" class="com.u002.demo.server.HelloServiceImpl"/>

    <mantis:provider id="HelloProvider" interface="com.u002.mantis.com.u002.demo.HelloService"
                      alias="1.0" ref="helloService"/>

    <mantis:server id="rpcServer" protocol="easyrpc" port="18868"/>

</beans>